* {
  cursor: pointer;
}

.header-wrap {
  background-image: url('/public/static/imgs/background.png');
  background-size: cover;
  background-position: top;
}

.roadmap-main {
  background-image: url('/public/static/imgs/roadmap.png');
  background-size: cover;
  background-position: top;
}